<div>
	<h2>{{ HeaderText }}</h2>

	<form>
		<table>
			<tr>
				<td>
					Name:
				</td>
				<td>
					<input type="text" name="Name" ng-model="component.Name" required />
				</td>
			</tr>

			<tr>
				<td>
					Carbs:
				</td>
				<td>
					<input type="number" name="Carbs" ng-model="component.NutritionValue.Carbs" required />
				</td>
			</tr>

			<tr>
				<td>
					Fat:
				</td>
				<td>
					<input type="number" name="Fat" ng-model="component.NutritionValue.Fat" required />
				</td>
			</tr>

			<tr>
				<td>
					Fiber:
				</td>
				<td>
					<input type="number" name="Fiber" ng-model="component.NutritionValue.Fiber" required />
				</td>
			</tr>

			<tr>
				<td>
					Kcal:
				</td>
				<td>
					<input type="number" name="Kcal" ng-model="component.NutritionValue.Kcal" required />
				</td>
			</tr>
		</table>
				
		<br />
		<br />
		<input type="submit" ng-click="updateComponent(component)" value="Save" />
</form>
</div>